/* RESET */
*{
    margin:0;
    padding:0;
}

/* BASE */

body{
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}

/* ESQUELETO DA PÁGINA */

header, 
footer {
    background-color: #000000;
    color: white;
    padding: 20px;}
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;}

/* COMPONENTES*/

/* Menu de navegação */

nav li {
    display: inline;
}
nav a {
    color: white;
    text-decoration: none;
}
.texto-clinica{
    margin-bottom: 15px; }

/* SEÇÕES ESPECÍFICAS */

#principal{
    background-color: rgb(149, 134, 233);
    padding: 30px;

}
#agendamento{
    background-color: rgb(149, 134, 233);
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}