{
    margin:0
    padding:0
}

body{
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}
header, footer {
    background-color: #000000;
    color: white;
    padding: 20px;}
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
nav li {
    display: inline;
}
nav a {
    color: white;
    text-decoration: none;
}
.texto-clinica{
    margin-bottom: 15px; 
}
#principal{
    background-color: antiquewhite;
    padding: 30px;

}
#agendamento{
    background-color: aqua;
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}